#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #666;
}

img {
  width: 4em;
  height: 4em;
  padding: 1em;  
}

.logo {
  height: 1em;
  width: 1em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  display:inline;
  margin: 1em;
}

.java-img:hover {
  filter: drop-shadow(0 0 2em #ff0000);
}

.js-img:hover {
  filter: drop-shadow(0 0 2em #fffb00aa); 
}

.css-img:hover {
  filter: drop-shadow(0 0 2em #2600ff);
}

.html-img:hover {
  filter: drop-shadow(0 0 2em #ff6600);
}

.sql-img:hover{
  filter: drop-shadow(0 0 2em #494949);
}

.python-img:hover{
  filter: drop-shadow(0 0 2em #0084ff);
}

.node-img:hover{
  filter: drop-shadow(0 0 2em #15ff00);
}

.axios-img:hover{
  filter: drop-shadow(0 0 2em #c300ff);
}

.card {
  padding: 0.5em;
  display: inline-block;
}
